<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your jungle.com order</h1>
    <p>
      You have successfully made order: #<%= @order.id %>
    </p>
    <p> Order Details: </p>
    <% @order_total = 0 %>
    <% @products.each_with_index do |product, index| %>
      <p><%= product.name %></p>
      <br>
      <% @order_total += product.price * @items[index].quantity %>
      <p><%= product.description %></p>
      <p>$<%= product.price %></p>
      <p>Quantity: <%= @items[index].quantity %></p>
    <% end %>
    <p>Order Total: $<%= @order_total %></p>
  </body>
</html>
